{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}
<h2>Mission</h2>
<p>Today with open access to every person to the stock market we want to give regular people tools to help prepare
people for the risks involved and help them quantify them. We have seen far too many examples
of regular people losing their savings in the stock market</p>
<p>This tool is not a crystal ball. You will not lose what this tools returns, but it is a likely outcome that you
    should be prepared for </p>
<h2>Methods</h2>
<h3>Historical Method</h3>
<p>We take your stock and analyse the past 5 years of daily returns and look for the bottom 5% of returns<br> We then
average those bottom 5% and look at what this gives us. We only want the worst case scenario</p>
<h3>Normal Distribution</h3>
<p>If returns meet a certain criteria we can guess a lot about their behaviour. This </p>
<h3>More to come</h3>
<p>More methods will be added as they are devoloped and deployed. Please keep an eye out for new methods</p>
<br>
<br>
<p>please dont hesitate to contact with feedback at:<br> callanduffy09@gmail.com</p>
{% endblock %}